<div class="col-md-12" style="margin-top:10px;" align="center">
    Show Heatmap by Processes <select class="selectpicker" id="heatmapfolders" data-style="btn-default" title="Pick process" data-width="175px">
    </select>
</div>
<div id="heatmap" class="col-md-12"></div>