<!-- Page Content -->        
<div class="container main">
        <div id="#wrapUp" class="row">
            
        <div class="col-md-2">
         <div class="row">
             
            <!-- Select type of analysis -->
             
            <div class="col-md-12 title" style="margin-top:10px;margin-bottom:10px;">Pick Analysis</div>
             <div class="col-md-12 radio" style="font-size:10px;margin:0px">
            <label><input type="radio" name="analysis" value="scatterplotanalysis" checked="checked">Mutations and Expressions</label>
            </div>
             <div class="col-md-12 radio" style="font-size:10px;margin:0px">
            <label><input type="radio" name="analysis" value="pcanalysis">Principal Components</label>
            </div>
             <div class="col-md-12 radio" style="font-size:10px;margin:0px">
            <label><input type="radio" name="analysis" value="heatmapanalysis">Heat Map</label>
            </div>
             
             <!--Grouping for Mutation analysis -->
            <div class="col-md-12 title group-div" style="margin-top:20px;display:">Define Groups</div>
            <div class="col-md-12 group-div" style="margin-top:10px;display:">
              <select class="selectpicker" id="groups" data-style="btn-default" title="Create Groups" data-width="175px">
                  <option class="divider" data-divider="true"></option>
                <option class="additem" data-content="<input type=text onKeyDown='event.stopPropagation();' onKeyPress='addSelectInpKeyPress(this,event)' onClick='event.stopPropagation()' placeholder='Add item'>"></option> 
                <!--<span class='glyphicon glyphicon-plus addnewicon' onClick='addSelectItem(this,event,1)'></span>-->
             </select>
             </div>
             
            <!--button to remove group -->
             
             <div class="col-md-12 group-div" style="margin-top:10px;text-align:right">
              <button id = "removegroup" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove Selected Group</button>
              </div>
             
             <!--Folders to select data -->
             
             <div class="col-md-12 title" style="margin-top:20px;" id="hihi">
              Pick Data
             </div>
              <div class="col-md-12" style="margin-top:10px;">
            
              <select class="selectpicker" id="folders" data-style="btn-default" title="Pick dataset" data-width="175px" >
                  <option value='./data/TCGA'>TCGA</option>
                 <option value='./data/aneuploidy/'>Aneuploidy</option>
                  <option value='./data/viral/'>Viral</option>
                  <option value='./data/trisomy/'>Trisomy</option>
                  <option value='./data/user_uploads/{{id}}/json/'>User Uploads</option>
             </select>
             </div>

              <div class="col-md-12" style="margin-top:10px;display:none" id="subfolders-div">
              <select class="selectpicker" id="subfolders" data-style="btn-default" title="Pick Cancer type" data-width="175px" >
                 <option value='./data/TCGA/BRCA/'>BRCA</option>
                  <!--<option value='./data/TCGA/HCC/'>HCC</option>-->
                 <option value='./data/TCGA/LIHC/'>LIHC</option>
                 <option value='./data/TCGA/LUAD/'>LUAD</option>
                 <option value='./data/TCGA/PRAD/'>PRAD</option>
                 <option value='./data/TCGA/THCA/'>THCA</option>
             </select>
             </div>
             
              <div class="col-md-12" style="margin-top:10px;">
              <select class="selectpicker" MULTIPLE id="files" data-style="btn-default" title="Pick samples" data-width="175px" data-actions-box="true" data-selected-text-format="static">
             </select>
             </div>
             
            <!--box to store selected data --> 
        
              <div class="col-md-12 selectionbox" style="margin-top:10px" id="selected-sample_div">
             <form id="form1">
       <select name="file_list" SIZE="4" class="selectionlist" MULTIPLE id="selected-sample" style="width: 175px;font-size: 14px">
             </select>
             </form>
              </div>
             
                         
             <!--buttons to edit selected data --> 
             
              <div class="col-md-12" style="margin-top:10px;text-align:right">
              <button id = "delete-selected" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove</button>
             <button id = "clear-all" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Clear</button>
              </div>
              
             <!--warning area --> 
             
              <div class="col-md-12" id="warning" style="margin-top:10px"></div>
            <div style="display:none" class="col-md-12" id="groupwarning" style="margin-top:10px"><font color = "red">No more than 6 groups!</font></div>
             
             
             <!--the GO button --> 
             
             <div class="col-md-12" style="margin-top:10px;text-align: center">
              <button id = "compareButton" class="btn btn-success">Compare</button>
             </div>
             
              <div class="col-md-12"><hr></div>
            </div>
            <div class="row tip" style="margin-top:0px;"></div>
        </div>
        
            <div class="col-md-10">
                <div id = "svgs-all" class="col-md-12"></div>   
            </div>
        </div>
</div>