<div class="col-md-12"><hr></div>
<div class="col-md-12 midtitle" style="margin-top:0px;margin-bottom:10px;">
    Color samples by
</div>
<div class="col-md-12">
        <div id="pcbcsvg" class="panel-group">
    </div>
</div>
<div class = "col-md-12" id="criteriabutton"></div>
<div class = "col-md-12" style="display:none"><input type="text" id="criteriagroup"><input type="text" id="criteriagender"><input type="text" id="criteriastage"><input type="text" id="criteriavital"><input type="text" id="criterianeg3">
</div>
<div class = "col-md-12" style="margin-top:20px;text-align: center"><button id = "filterbutton" class="btn btn-success">Update</button>
</div>
