<div class="col-md-12"><hr></div>
<div class="col-md-12 midtitle" style="margin-top:0px;margin-bottom:10px;">
    Color samples by
</div>
<div class="col-md-12">
        <div id="pcbcsvg" class="panel-group">
    </div>
</div>
<div class = "col-md-12" id="criteriabutton"></div>
<div class = "col-md-12" id="pcbctext" style="display:none">
</div>

