<div class="col-md-12"><hr></div>
<div class="col-md-12 midtitle" style="margin-top:0px;margin-bottom:10px;">
    Color samples by
</div>
<div id="pcbcsvg" class="col-md-12">
        <div class="panel-group">
                <div class="panel panel-default pcbc" id="grouppanel" style="background:#b3ccff">
                    <div class="minititle" style="padding: 10px 10px;" id="grouptitle">
                        <a data-toggle="collapse" href="#collapse3">Group</a>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse-in">
                        <div class="panel-body svg-container" id="groupbarchart" style="padding :0px 0px; font-size:20px"></div>
                    </div>
            </div>
            <div class="panel panel-default pcbc" id="genderpanel">
                <div class="minititle" style="padding: 10px 10px;" id="gendertitle">
                    <a data-toggle="collapse" href="#collapse1">Gender</a>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body svg-container" id="genderbarchart" style="padding :0px 0px; font-size:20px"></div>
                </div>
            </div>
            <div class="panel panel-default pcbc" id="stagepanel">
                <div class="minititle" style="padding: 10px 10px;" id="stagetitle">
                    <a data-toggle="collapse" href="#collapse2">Stage</a>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body svg-container" id="stagebarchart" style="padding :0px 0px; font-size:20px"></div>
                </div>
            </div>
            <div class="panel panel-default pcbc" id="vitalpanel">
                <div class="minititle" style="padding: 10px 10px;" id="vitaltitle">
                    <a data-toggle="collapse" href="#collapse4">Vital Status</a>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body svg-container" id="vitalbarchart" style="padding :0px 0px; font-size:20px"></div>
                </div>
            </div>
            <div class="panel panel-default pcbc" id="neg3panel">
                <div class="minititle" style="padding: 10px 10px;" id="neg3title">
                    <a data-toggle="collapse" href="#collapse5">Triple Neg</a>
                </div>
                <!--<div id="collapse5" class="panel-collapse collapse">
                    <div class="panel-body svg-container" id="neg3barchart" style="padding :0px 0px; font-size:20px"></div>
                </div>-->
            </div>
    </div>
</div>
<div class = "col-md-12" id="criteriabutton"></div>
<div class = "col-md-12" style="display:none"><input type="text" id="criteriagroup"><input type="text" id="criteriagender"><input type="text" id="criteriastage"><input type="text" id="criteriavital"><input type="text" id="criterianeg3">
</div>
<div class = "col-md-12" style="margin-top:20px;text-align: center"><button id = "filterbutton" class="btn btn-success">Update</button>
</div>
