<div id="scatterplot" class="col-md-9"></div>

<div id="barchart" class="col-md-3"></div>

<div id="heatmap" class="col-md-12"></div>
<!--
<div class="col-md-12">
    Log2FC greater than: <input type="text" id="up" size="4">
    Log2FC smaller than: <input type="text" id="down" size="4">
    <button class="btn btn-default"  onclick="saveTextAsFile()" style="float: right;"><strong>Download Data</strong></button>
</div>
-->